* {
    padding:0px;
    margin: 0px;
    width: 90%;
    text-align: -webkit-center;
}
#title,#subtitle {
    text-align: -webkit-center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
    color:ghostwhite
}
#titleContainer {
    background: navy;
}